<div class="collapsible">
    <header class="collapsible__header">
        <h3 class="collapsible__heading"> How to Book an appointment</h3>
        <div class="icon collapsible__plus">
            <div class="icon-plus"></div>
        </div>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam accusantium ipsum dolorem distinctio natus, laborum quis, eos sapiente sequi fuga soluta mollitia velit nihil, quae dolore hic labore debitis odio.
    </div>
</div>
