<!-- Grid col 2 -->
<div class="grid grid--cols-2">
    <div style="height: 100px; background-color: rgb(187, 74, 142);"></div>
    <div style="height: 100px; background-color: rgb(17, 223, 158);"></div>
</div>

<!-- Grid col 1/3 2/3 -->
<div class="grid grid--cols-3">
    <div style="height: 100px; background-color: rgb(33, 169, 83);"></div>
    <div style="height: 100px; background-color: rgb(202, 28, 28);"></div>
</div>

<!-- Grid col 4 -->
<div class="grid grid--cols-4 grid--cols-4__s">
    <div style="height: 100px; background-color: aqua;"></div>
    <div style="height: 100px; background-color: rgb(223, 196, 17);"></div>
    <div style="height: 100px; background-color: aqua;"></div>
    <div style="height: 100px; background-color: rgb(223, 196, 17);"></div>
</div>
